*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 80vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headd{
  background-color: rgb(29, 27, 27);
  color: white;
}
/*transaction page*/
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px 0 rgb(39, 39, 39);
}

.buttonn{
  cursor:pointer;
  border-radius:10%;
  background-color: aliceblue;
}

.anticon svg{
  font-size: 20px;
  cursor:pointer;
}
.active-icon{
  color: black
}
.inactive-icon{
  color: gray;
}

.switchicon{
  border:1px solid  black ;
  border-radius: 5px;
  padding: 10px 15px;
}