.navbar {
    background-color: #000000e8 !important;
  }
  .navbar .navbar-brand {
    color: #d3f3d9 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar h6 {
    margin-top: 0px;
    margin-right: 20px;
  }